/* Mobile First (min-width) */

/* Tablet */
@media screen and (min-width: 768px) {
    header .flex-basis {
        flex-basis: calc(100% / 3 -  1rem);
    }

    header > section > div {
        flex-grow: 1;
    }
    
    header section div:first-of-type {
        flex-grow: 2;
        flex-basis: calc(100% / 2);
    }

    .section-benefits .card {
        flex-basis: calc(100% / 2 -  .5rem);
    }

    .section-about {
        gap: 2rem;
    }
    
    h2 {
        text-align: left;
        font-size: 3rem;
    }

    .section-about > div {
        flex-basis: calc(100% / 2 -  1rem);
    }

    .section-testimonials-card > div > .flex-basis {
        flex-basis: calc(100% / 2);
    }

    .section-testimonials-card > div > .flex-basis > p {
        padding-top: 2rem;
    }

    .section-testimonials-card > div {
        justify-content: space-between;
    }

    .section-testimonials-card > div > div:last-of-type {
        flex-grow: 2;
    }
}

/* Desktop */
@media screen and (min-width: 992px) {
    nav .burger-menu > ul {
        display: flex;
    }
    
    nav .burger-menu > i {
        display: none;
    }
    
    nav .btn {
        display: flex;
    }

    header section div:first-of-type > div > div {
        flex-basis: calc(100% / 2 - 1rem);
    }

    .card-header-img {
        align-self: flex-end;
    }

    .card-header-img img {
        max-width: 100%;
    }

    .section-planning .flex-basis {
        flex-basis: calc(100% / 2 - 1rem);
    }

    .section-planning > div > div:last-of-type {
        align-self: flex-end;
    }

    .section-planning-card > .flex-basis {
        flex-basis: 100%;
    }
    
    .section-planning > div:first-of-type > div > img {
        padding-bottom: 8rem;
    }

    .section-benefits .card {
        flex-basis: calc(100% / 3 -  1rem);
    }
}
