:root {
    --primary-color: #0084fd;
    --secondary-color: #b5ddff;
    --third-color: #9792e4;
    --footer-color: #333333;
    --cta-color: #fdc15f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

section {
    padding: 2rem 1rem;
}

/* Stile testo */
h2 {
    color: #ffffff;
    font-weight: bold;
    font-size: 2rem;
    padding: 3rem 0;
}

h3 {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 1.3rem;
}

p {
    padding-bottom: 1.3rem;
    line-height: 2rem;
}
/****/

.card {
    border-radius: 20px;
    padding: 2rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.flex-justify-between {
    justify-content: space-between;
}

.flex-align-center {
    align-items: center;
}

.flex-basis {
    flex-basis: 100%;
}

.container {
    margin: 0 auto;
    max-width: 980px;
    padding: 1rem;
}

/* Elenchi */
ul {
    list-style: none;
}

/* Bottoni */
.btn {
    border: none;
    border-radius: 20px;
    background-color: #ffffff;
    color: #000000;
    font-size: 1.2rem;
    padding: .7rem 1rem;
}

.btn-dark {
    background-color: var(--primary-color);
    color: #ffffff;
    padding: .7rem 1rem;
    text-align: center;
}

.btn > i {
    padding-right: .5rem;
}

/* Link */
a {
    text-decoration: none;
    color: #ffffff;
}

/* START NAV */
nav {
    background-color: var(--primary-color);
}

nav .burger-menu > ul {
    display: none;
}

nav .burger-menu li {
    padding: 0 1rem;
}

nav .burger-menu > i {
    color: #ffffff;
    font-size: 2rem;
}

nav .burger-menu > i:active {
    display: inline-block;
}

nav .burger-menu > i:active ~ ul {
    display: inline-block;
}

nav .btn {
    display: none;
}
/* END NAV */

/* STAR HEADER */
header {
    margin: 2rem auto;
}

.card-header {
    background-color: var(--secondary-color);
    text-align: center;
}

.card-header > i {
    color: var(--primary-color);
    font-size: 5rem;
    padding-bottom: 2rem;
}



/* .card-header-img {
    margin-bottom: -2.3rem;
}

.card-header-img img {
    max-width: calc(100 / 2);
} */




/* END HEADER */

/* START MAIN */
/* Section Strategic Planning */
.section-planning {
    background-color: var(--third-color);
    padding: 1rem;
}

.section-planning p {
    color: #ffffff;
}

.section-planning img {
    max-width: 100%;
}

.section-planning-card {
    background-color: #ffffff;
}

.section-planning-card h3 {
    color: #000000;
}

/* Section Testimonials */
.section-testimonials {
    padding: 2rem 1rem;
}

.section-testimonials > div {
    margin-top: 1rem;
}

.section-testimonials-card {
    background-color: var(--third-color);
}

/* Section Benefits */
.section-benefits {
    padding: 1rem;
    background-color: var(--third-color);
}

.section-benefits-card {
    background-color: #ffffff;
    border: 1px dotted black;
}

/* Section About Us */
.section-about {
    padding: 1rem;
}

/* Section Get Start */
.section-getstart {
    padding: 1rem;
    background-color: var(--third-color);
}
/* END MAIN */

/* START FOOTER */
footer {
    background-color: var(--footer-color);
    padding: 2rem;
}
/* END FOOTER */

/* Bordo da togliere successivamente */
.border {
    border: 2px dotted red;
}