:root {
    --primary-color: #0084fd;
    --secondary-color: #b5ddff;
    --third-color: #9792e4;
    --footer-color: #333333;
    --cta-color: #fdc15f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

section {
    padding: 2rem 1rem;
}

.card {
    border-radius: 15px;
    padding: 1rem;
    margin: 1rem 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.flex-justify-between {
    justify-content: space-between;
}

.flex-align-center {
    align-items: center;
}

.flex-basis {
    flex-basis: 100%;
}

.container {
    margin: 0 auto;
    max-width: 980px;
    padding: 1rem;
}

/* Elenchi */
ul {
    list-style: none;
}

/* Bottoni */
.btn {
    border: none;
    border-radius: 20px;
    background-color: #ffffff;
    color: #000000;
    font-size: 1.2rem;
    padding: .7rem 1rem;
}

/* Link */
a {
    text-decoration: none;
    color: #ffffff;
}

/* START NAV */
nav {
    background-color: var(--primary-color);
}

nav .burger-menu > ul {
    display: none;
}

nav .burger-menu li {
    padding: 0 1rem;
}

nav .burger-menu > i {
    color: #ffffff;
    font-size: 2rem;
}

nav .burger-menu > i:active {
    display: inline-block;
}

nav .burger-menu > i:active ~ ul {
    display: inline-block;
}

nav .btn {
    display: none;
}
/* END NAV */

/* STAR HEADER */
header {
    margin: 2rem auto;
}

.card-header {
    background-color: var(--secondary-color);
}
/* END HEADER */

/* START MAIN */
/* Section Strategic Planning */
.section-planning {
    background-color: var(--third-color);
    padding: 1rem;
}

.section-planning-card {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 1rem;
    margin: 2rem auto;
}

/* Section Testimonials */
.section-testimonials {
    padding: 1rem;
}

.section-testimonials > div {
    margin-top: 1rem;
}

.section-testimonials-card {
    background-color: var(--third-color);
}

/* Section Benefits */
.section-benefits {
    padding: 1rem;
    background-color: var(--third-color);
}

.section-benefits-card {
    background-color: #ffffff;
    border: 1px dotted black;
}

/* Section About Us */
.section-about {
    padding: 1rem;
}

/* Section Get Start */
.section-getstart {
    padding: 1rem;
    background-color: var(--third-color);
}
/* END MAIN */

/* START FOOTER */
footer {
    background-color: var(--footer-color);
    padding: 2rem;
}
/* END FOOTER */

/* Bordo da togliere successivamente */
.border {
    border: 2px dotted red;
}