:root {
    --primary-color: #0084fd;
    --secondary-color: #b5ddff;
    --third-color: #9792e4;
    --i-color: #38364e;
    --footer-color: #333333;
    --cta-color: #fdc15f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

section {
    padding: 2rem 1rem;
}

/* Stile testo */
h2 {
    color: #ffffff;
    font-weight: bold;
    font-size: 2rem;
    padding: 3rem 0;
}

h3 {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 1.3rem;
}

h4 {
    font-size: .8rem;
    text-align: center;
    padding-bottom: 1.3rem;
    text-transform: uppercase;
    font-weight: normal;
}

p {
    padding-bottom: 1.3rem;
    line-height: 2rem;
    font-size: 1rem;
    font-weight: normal;
}
/****/

.card {
    border-radius: 20px;
    padding: 2rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.flex-justify-between {
    justify-content: space-between;
}

.flex-justify-center {
    justify-content: center;
}

.flex-align-center {
    align-items: center;
}

.flex-basis {
    flex-basis: 100%;
}

.container {
    margin: 0 auto;
    max-width: 980px;
    padding: 1rem;
}

/* Elenchi */
ul {
    list-style: none;
}

/* Bottoni */
.btn {
    border: none;
    border-radius: 20px;
    background-color: #ffffff;
    color: #000000;
    font-size: 1.2rem;
    padding: .7rem 1rem;
}

.btn-dark {
    background-color: var(--primary-color);
    color: #ffffff;
    padding: .7rem 1rem;
    text-align: center;
}

.btn-light {
    background-color: var(--third-color);
    border-radius: 50%;
}

.btn > i {
    padding-right: .5rem;
}

.btn-light > i {
    padding-right: 0;
    color: var(--i-color);
}


/* Link */
a {
    text-decoration: none;
    color: #ffffff;
}

/* START NAV */
nav {
    background-color: var(--primary-color);
}

nav .burger-menu > ul {
    display: none;
}

nav .burger-menu li {
    padding: 0 1rem;
}

nav .burger-menu > i {
    color: #ffffff;
    font-size: 2rem;
}

nav .burger-menu > i:active {
    display: inline-block;
}

nav .burger-menu > i:active ~ ul {
    display: inline-block;
}

nav .btn {
    display: none;
}
/* END NAV */

/* STAR HEADER */
header {
    margin: 2rem auto;
}

.card-header {
    background-color: var(--secondary-color);
    text-align: center;
}

.card-header > i {
    color: var(--primary-color);
    font-size: 5rem;
    padding-bottom: 2rem;
}



/* .card-header-img {
    margin-bottom: -2.3rem;
}

.card-header-img img {
    max-width: calc(100 / 2);
} */




/* END HEADER */

/* START MAIN */
/* Section Strategic Planning */
.section-planning {
    background-color: var(--third-color);
    padding: 1rem;
}

.section-planning p {
    color: #ffffff;
}

.section-planning img {
    max-width: 100%;
}

.section-planning-card {
    background-color: #ffffff;
}

.section-planning-card .btn-light {
    aspect-ratio: 1/1;
}

.section-planning-card h3, .section-planning-card p {
    color: #000000;
    text-align: center;
}

.section-planning-card h3 {
    padding-top: 1.3rem;
}

.section-planning-card p {
    font-style: italic;
}

/* Section Testimonials */
.section-testimonials {
    padding: 3rem 1rem 4rem 1rem;
}

.section-testimonials h2 {
    color: var(--third-color);
    text-align: center;
    padding-top: 0;
    padding-bottom: 2rem;
}

.section-testimonials h3 {
    color: #ffffff;
    font-size: 1rem;
    text-align: center;
    padding-bottom: 1.3rem;
    text-transform: uppercase;
}

.section-testimonials p {
    text-align: center;
}

.section-testimonials > div {
    margin-top: 1rem;
}

.section-testimonials-card {
    background-color: var(--third-color);
    border-radius: 30px;
}

.section-testimonials-card p, .section-testimonials-card i {
    color: #ffffff;
}

.section-testimonials-card i {
    font-size: 1.5rem;
}

.section-testimonials-img {
    max-width: 200px;
}

.section-testimonials-img img {
    max-width: 100%;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

/* Section Benefits */
.section-benefits {
    padding: 1rem;
    background-color: var(--third-color);
}

.section-benefits h2 {
    text-align: center;
}

.section-benefits-card {
    background-color: #ffffff;
    border: 1px dotted black;
}

.section-benefits-card h3 {
    color: var(--third-color);
    text-align: left;
}

.section-benefits-card h3:first-of-type {
    font-size: 3.5rem;
}

.section-benefits-card .btn-light {
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 20px;
    padding-left: 4rem;
    padding-right: 4rem;
}

/* Section About Us */
.section-about {
    padding: 3rem 1rem 4rem 1rem;
}

.section-about p {
    color: #000000;
}

.section-about h2 {
    color: var(--third-color);
    text-align: center;
    padding-top: 0;
    padding-bottom: 2rem;
}

.section-about h3 {
    color: var(--third-color);
    padding-bottom: 1.3rem;
    padding-top: 1.3rem;
    text-align: left;
}

.section-about-card-img {
    max-width: 200px;
    position: relative;
}

.section-about-card-img img {
    max-width: 100%;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.section-about-card-img i {
    color: var(--third-color);
    position: absolute;
    top: 0;
    right: 0;
    font-size: 4rem;
}

.section-about .btn-light {
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 20px;
    padding: .5rem 1.2rem;
}

.section-about .btn-light > i {
    color: #ffffff;
}

/* Section Get Start */
.section-getstart {
    padding: 3rem 1rem 4rem 1rem;
    background-color: var(--third-color);
}

.section-getstart h2, .section-getstart h4, .section-getstart p {
    color: #ffffff;
    text-align: center;
}

.section-getstart p > a {
    text-decoration: underline;
}

.section-getstart h2 {
    padding: 1rem 0;
}

.section-getstart h2:last-of-type {
    color: var(--cta-color);
    font-size: 3rem;
}

.section-getstart h4 {
    font-size: 1rem;
}

.section-getstart .btn {
    color: var(--third-color);
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
    padding: 1.5rem 0;
    border-radius: 40px;
}
/* END MAIN */

/* START FOOTER */
footer {
    background-color: var(--footer-color);
    padding-top: 3rem;
    padding-bottom: 2rem;
}

footer p {
    color: #ffffff;
    text-align: center;
}

footer > div > p:first-of-type {
    padding-bottom: 2.5rem;
}

footer p > a {
    color: var(--third-color);
    text-decoration: underline;
}
/* END FOOTER */

/* Bordo da togliere successivamente */
.border {
    border: 2px dotted red;
}